html, body { margin: 0; padding: 0; }
body { background: #ccc; }

[contenteditable=true]:empty:before { content: attr(placeholder); color: #ccc; }

.note {}
.title {}
.contents {}
#editor input { display: block; }
#editor textarea {}